{
  "apiIdentityUrl": "Identity API Url, with / at the end. (http://api-identity.after90.com/)"
  "apiLeaguesUrl": "Leagues API Url, with / at the end. (http://api-leagues.after90.com/)"
  "apiStatsUrl": "Leagues API Url, with / at the end. (http://api-stats.after90.com/)"
  "apiMediaUrl": "Media API Url, with / at the end. (http://api-media.after90.com:81/)"
  "paypalAmount": "Paypal amount to charge. (5000)"
}
